In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
pd.set_option('display.max_rows', 10)
# Show the full results
pd.set_option('display.max_column', None)
pd.set_option('display.max_rows', None)

matplotlib.rcParams['figure.figsize'] = (20, 10)

In [2]:
df = pd.read_csv('../Data/4_out_rem.csv')
df.head()

               location  size  total_sqft  bath  price
0   Devarachikkanahalli     2      1250.0   2.0   40.0
1   Devarachikkanahalli     2      1200.0   2.0   83.0
2   Devarachikkanahalli     2      1170.0   2.0   40.0
3   Devarachikkanahalli     3      1425.0   2.0   65.0
4   Devarachikkanahalli     2       947.0   2.0   43.0

In [3]:
df.shape

(7253, 5)